In [1]:
import sys
sys.path.append('/home/jovyan/cricket/code')

import numpy as np
import pandas as pd
import highest_batsman

In [2]:
df = highest_batsman.download(1, 3)

In [3]:
df = highest_batsman.clean(df)

In [4]:
df

,mt_start_date,mt_ground,mt_format,mt_team_code,mt_opposition,in_no,pl_name,pf_runs,pf_balls,pf_mins,pf_fours,pf_sixes,pf_no,pf_dnb
0,1877-03-15,Melbourne,Test,AUS,England,1,C Bannerman,165,NaN,285.0,18.0,0.0,True,False
1,1877-03-15,Melbourne,Test,AUS,England,1,NFD Thomson,1,NaN,NaN,0.0,0.0,False,False
2,1877-03-15,Melbourne,Test,AUS,England,1,TP Horan,12,NaN,NaN,NaN,0.0,False,False
3,1877-03-15,Melbourne,Test,AUS,England,1,DW Gregory,1,NaN,NaN,0.0,0.0,False,False
4,1877-03-15,Melbourne,Test,AUS,England,1,BB Cooper,15,NaN,NaN,NaN,0.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,1879-01-02,Melbourne,Test,ENG,Australia,1,T Emmett,0,1.0,1.0,0.0,0.0,False,False
46,1879-01-02,Melbourne,Test,ENG,Australia,1,CA Absolom,52,NaN,NaN,5.0,0.0,False,False
47,1879-01-02,Melbourne,Test,ENG,Australia,1,L Hone,7,NaN,NaN,NaN,0.0,False,False
48,1879-01-02,Melbourne,Test,ENG,Australia,1,SS Schultz,0,NaN,NaN,0.0,0.0,True,False
49,1879-01-02,Melbourne,Test,AUS,England,2,C Bannerman,15,NaN,NaN,NaN,0.0,False,False